.icon-extension_hwp { background: url("/imgs/extension/hwp.png") no-repeat;}
.icon-extension_avi { background: url("/imgs/extension/avi.png") no-repeat;}
.icon-extension_bmp { background: url("/imgs/extension/bmp.png") no-repeat;}
.icon-extension_bz2 { background: url("/imgs/extension/bz2.png") no-repeat;}
.icon-extension_cc  { background: url("/imgs/extension/cc.png") no-repeat;}
.icon-extension_cgi { background: url("/imgs/extension/cgi.png") no-repeat;}
.icon-extension_class { background: url("/imgs/extension/class.png") no-repeat;}
.icon-extension_c   { background: url("/imgs/extension/c.png") no-repeat;}
.icon-extension_cpp { background: url("/imgs/extension/cpp.png") no-repeat;}
.icon-extension_css { background: url("/imgs/extension/css.png") no-repeat;}
.icon-extension_cxx { background: url("/imgs/extension/cxx.png") no-repeat;}
.icon-extension_dhtml { background: url("/imgs/extension/dhtml.png") no-repeat;}
.icon-extension_doc { background: url("/imgs/extension/doc.png") no-repeat;}
.icon-extension_document { background: url("/imgs/extension/document.png") no-repeat;}
.icon-extension_docx { background: url("/imgs/extension/docx.png") no-repeat;}
.icon-extension_exe { background: url("/imgs/extension/exe.png") no-repeat;}
.icon-extension_folder { background: url("/imgs/extension/folder.png") no-repeat;}
.icon-extension_fon { background: url("/imgs/extension/fon.png") no-repeat;}
.icon-extension_gif { background: url("/imgs/extension/gif.png") no-repeat;}
.icon-extension_gz  { background: url("/imgs/extension/gz.png") no-repeat;}
.icon-extension_h   { background: url("/imgs/extension/h.png") no-repeat;}
.icon-extension_hpp { background: url("/imgs/extension/hpp.png") no-repeat;}
.icon-extension_html { background: url("/imgs/extension/html.png") no-repeat;}
.icon-extension_htm { background: url("/imgs/extension/htm.png") no-repeat;}
.icon-extension_inc { background: url("/imgs/extension/inc.png") no-repeat;}
.icon-extension_jar { background: url("/imgs/extension/jar.png") no-repeat;}
.icon-extension_java { background: url("/imgs/extension/java.png") no-repeat;}
.icon-extension_jpeg { background: url("/imgs/extension/jpeg.png") no-repeat;}
.icon-extension_jpg { background: url("/imgs/extension/jpg.png") no-repeat;}
.icon-extension_js  { background: url("/imgs/extension/js.png") no-repeat;}
.icon-extension_m3u { background: url("/imgs/extension/m3u.png") no-repeat;}
.icon-extension_midi { background: url("/imgs/extension/midi.png") no-repeat;}
.icon-extension_mov { background: url("/imgs/extension/mov.png") no-repeat;}
.icon-extension_mp3 { background: url("/imgs/extension/mp3.png") no-repeat;}
.icon-extension_mpeg { background: url("/imgs/extension/mpeg.png") no-repeat;}
.icon-extension_mpg { background: url("/imgs/extension/mpg.png") no-repeat;}
.icon-extension_pdf { background: url("/imgs/extension/pdf.png") no-repeat;}
.icon-extension_php3 { background: url("/imgs/extension/php3.png") no-repeat;}
.icon-extension_php4 { background: url("/imgs/extension/php4.png") no-repeat;}
.icon-extension_php5 { background: url("/imgs/extension/php5.png") no-repeat;}
.icon-extension_php { background: url("/imgs/extension/php.png") no-repeat;}
.icon-extension_phtml { background: url("/imgs/extension/phtml.png") no-repeat;}
.icon-extension_pl { background: url("/imgs/extension/pl.png") no-repeat;}
.icon-extension_pls { background: url("/imgs/extension/pls.png") no-repeat;}
.icon-extension_png { background: url("/imgs/extension/png.png") no-repeat;}
.icon-extension_py { background: url("/imgs/extension/py.png") no-repeat;}
.icon-extension_ram { background: url("/imgs/extension/ram.png") no-repeat;}
.icon-extension_ra { background: url("/imgs/extension/ra.png") no-repeat;}
.icon-extension_rar { background: url("/imgs/extension/rar.png") no-repeat;}
.icon-extension_rm { background: url("/imgs/extension/rm.png") no-repeat;}
.icon-extension_sh { background: url("/imgs/extension/sh.png") no-repeat;}
.icon-extension_shtml { background: url("/imgs/extension/shtml.png") no-repeat;}
.icon-extension_sql { background: url("/imgs/extension/sql.png") no-repeat;}
.icon-extension_swf { background: url("/imgs/extension/swf.png") no-repeat;}
.icon-extension_tar { background: url("/imgs/extension/tar.png") no-repeat;}
.icon-extension_tbz { background: url("/imgs/extension/tbz.png") no-repeat;}
.icon-extension_tgz { background: url("/imgs/extension/tgz.png") no-repeat;}
.icon-extension_txt_gif { background: url("/imgs/extension/txt.gif") no-repeat;}
.icon-extension_txt { background: url("/imgs/extension/txt.png") no-repeat;}
.icon-extension_wav { background: url("/imgs/extension/wav.png") no-repeat;}
.icon-extension_xhtml { background: url("/imgs/extension/xhtml.png") no-repeat;}
.icon-extension_xls { background: url("/imgs/extension/xls.png") no-repeat;}
.icon-extension_xlsx { background: url("/imgs/extension/xlsx.png") no-repeat;}
.icon-extension_xml { background: url("/imgs/extension/xml.png") no-repeat;}
.icon-extension_zip { background: url("/imgs/extension/zip.png") no-repeat;}